<div class='pure-alert pure-alert-warning'>
  <label><strong>Warning</strong></label>: It seems Github is already busy building a container, at the moment.  Please check the build progress and try again, when it's done.  <a href='https://github.com/rhardih/stand/actions'>https://github.com/rhardih/stand/actions</a>
</div>
