<div class='pure-alert pure-alert-error'>
  <label><strong>Error</strong></label>: Build not started. <br /> Github is already building a container. Please check the status on <a href='https://github.com/rhardih/stand/actions'>https://github.com/rhardih/stand/actions</a>.
</div>
