<div class='pure-alert pure-alert-error'>
  <label><strong>Error</strong></label>: It would seem Travis is getting tired of too many requests. <br />Rate  limit reached. Please check back later.
</div>
