<div class='pure-alert pure-alert-warning'>
  <label><strong>Warning</strong></label>: It seems Travis is already busy building a container, at the moment.  Please check the build progress and try again, when it's done.  <a href='https://travis-ci.com/rhardih/stand/builds'>https://travis-ci.com/rhardih/stand/builds</a>
</div>
